[submodule "libraries/chainbase"]
	path = libraries/chainbase
	url = https://github.com/celes-dev/chainbase.git
        ignore = dirty
[submodule "libraries/appbase"]
	path = libraries/appbase
	url = https://github.com/celes-dev/appbase.git
        ignore = dirty
[submodule "contracts/musl/upstream"]
	path = contracts/musl/upstream
	url = https://github.com/celes-dev/musl.git
	branch = eosio
[submodule "contracts/libc++/upstream"]
	path = contracts/libc++/upstream
	url = https://github.com/celes-dev/libcxx.git
	branch = eosio
[submodule "externals/binaryen"]
	path = externals/binaryen
	url = https://github.com/celes-dev/binaryen.git

[submodule "libraries/softfloat"]
	path = libraries/softfloat
	url = https://github.com/celes-dev/berkeley-softfloat-3.git
[submodule "externals/magic_get"]
	path = externals/magic_get
	url = https://github.com/celes-dev/magic_get.git
[submodule "libraries/fc"]
	path = libraries/fc
	url = https://github.com/celes-dev/fc.git
[submodule "libraries/wabt"]
	path = libraries/wabt
	url =https://github.com/celes-dev/wabt.git
